li{
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    border-bottom: 10px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

table{

}

footer{
    background-color: blanchedalmond;
    border-top: 4px solid black;
    padding-bottom: 2px;
    line-height: 1;
}

.footer{
    display: flex;
    justify-content: space-around;
}